{% extends "socnet/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Community To Find Your Sport Team!</h1>
            <p>So if you think you need more physical activity in your life and you’d like to spend more time with people we believe that we have an excellent solution for you. We designed a web application called <b><i>GoPlay</i></b> which actually serves these two purposes. It’s made for people to play team sports together. With <b><i>GoPlay</i></b> you can find teammates for your next game, create a new team and find people to join it.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}